<!DOCTYPE html>
<html>
    <head>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"  media="screen"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link type="text/css" rel="stylesheet"  href="${pms.contextPath}/resources/admin/plugins/layui/css/layui.css">
		<script type="text/javascript" src="${pms.contextPath}/resources/admin/plugins/layui/layui.js"></script>
        <title>项目管理系统-信息提示</title>
    </head>
    <body>

        $screen_content

        <hr />
        Copyright &copy; 2017 <a href="http://www.dsy.cn/" target="_blank">dsy.cn</a> All Rights Reserved
    </body>
</html>